body{
    background: #000;
    margin: 0;
    background-color: #EFEFEF;
    /* position: relative; */
}
.clearfix::after{
    content: '';
    display: block;
    clear: both;
}
*{
    margin:0;
    padding: 0;
}
a{
    text-decoration: none;
    color: inherit;
}
/* .placeholder{
    height: 100.8px;
} */
.topNavBar{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}
.topNavBar > nav >.logo{
    float: left;
    font-size: 24px;
    font-family: "Meiryo UI";
    font-weight: bold;
    padding: 30px 0;
}
.topNavBar > nav >.logo .rs{
    color:#e6686a;
    margin-right: 4px;
}
.topNavBar > nav >.logo .card{
    color:#9a9da2;
}
.topNavBar > nav > ul{
    list-style: none;
    float: right;
    margin: 0;
    padding: 0;
    /* color: #000; */
    color: #B7B7B7;
}
.topNavBar > nav> ul li{
    float: left;
    font-size: 13px;
    margin-left: 17px;
    margin-right: 17px;
    font-weight: bold;
    /* padding: 20px 0; */
    padding-top: 33px;
    padding-bottom: 33px;
}
.topNavBar > nav> ul li a{
    padding: 5px 0;
    display: block;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
}
.topNavBar >nav >ul li a:hover{
    border-bottom: 3px solid #DC6465;
}
.topNavBar nav{
    /* border: 1px solid #fff; */
    /* background-color: #fff; */
    padding: 0 24px;
}
.banner{
    height: 515px;
    background: url('../assets/rs-banner.jpg');
    background-size: cover;
    background-position: center center;
}
.banner > .mask{
    height: 100%;
    background-color:rgba(0,0,0,0.7);
}
main{
    margin-top: -200px;
}
.userCard{
    max-width: 940px;
    background-color: #FFFFFF;
    margin:0 auto;
    box-sizing: border-box;
    /* position: relative; */
    /* margin-top: -150px; */
}
.userCard>.cardInner{
    padding:50px;
}
.cardInner > .cardHeader .cardIntroduce{
    float: left;
    width: 470px;
    margin-left: 65px;
}
.cardIntroduce > .welcome{
    background-color: #E6686A;
    display: inline-block;
    color: #fff;
    padding:5px 15px;
    position: relative;
    margin-bottom: 30px;
}
.cardIntroduce > .welcome >.Triangle{
    display: inline-block;
    border:10px solid transparent;
    border-left:10px solid #E6686A;
    border-top-width: 0;
    position: absolute;
    top: 100%;
    left:5px;
}
.cardIntroduce > hr{
    border:none;
    height: 0;
    border-top:1px solid #dedede;
    margin:20px 0;
}
.cardIntroduce >dl dt{
    float: left;
    width: 30%;
    padding:5px 0;
    font-weight: bold;
}
.cardIntroduce>dl dd{
    float: left;
    width: 70%;
    padding:5px 0;
    color: #9DA0A7;
}
.cardInner > .cardHeader .cardPhoto{
    width: 299px;
    height: 347px;
    float: left;
    /* border: 1px solid #fff; */
}
.cardInner > .cardHeader .cardPhoto>img{
    width: 100%;
    height: 100%;
}
.userCard > footer{
    background-color: #E6686A;
    text-align: center;
}
footer .icon{
    width: 30px;
    height: 30px;
    fill: white;
    vertical-align: middle;
    /* text-align: center; */
}
footer >a{
    display: inline-block;
    /* border:1px solid; */
    border-radius: 100%;
    padding: 8px 8px;
    text-align: center;
    margin:15px 30px;
}
footer> a:hover{
    background-color: #CF5D5F;
}
main > .download{
    /* margin-top: -80px; */
    text-align: center;
    margin-top: 30px;
}
main > .download > a{
    display: inline-block;
    border: 1px solid #ccc;
    padding:30px 70px;
    font-size: 15px;
    font-weight: 700;
    color: #3d4451;
    border-radius: 3px;
    transition: box-shadow 0.5s;
}
main > .download>a:hover{
    box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.49);
}
main> .introduce{
    text-align: center;
    /* border: 1px solid red; */
    max-width: 940px;
    margin: 0 auto;
    margin-top: 50px;
    font-family: kai;
    font-size: 20px;
    line-height: 1.8;
    color: #616161;
}

